<div id="body">
  <div class="keeng-song keeng-top">
    <h2 class="keeng-h2-title"><a>BÀI HÁT NỔI BẬT</a></h2>
    <div class="keeng-song-wrap">
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" />  </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" />  </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
    </div>
    <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
  </div>
  <div class="keeng-song">
    <h2 class="keeng-h2-title"><a>BÀI HÁT MỚI</a></h2>
    <div class="keeng-song-wrap">
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" />  </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" />  </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
    </div>
    <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
  </div>
  <div class="app-keeng">
    <h3 class="app-keeng-h3">Trải nghiệm tốt hơn với ứng dụng Keeng</h3>
    <p class="app-keeng-p"><a><img src="assets/images/ver4_06.png" width="96" /></a><a><img src="assets/images/ver4_07.png" width="96" /></a><a><img src="assets/images/ver4_08.png" width="96" /></a></p>
  </div>
</div>
