<div class="player-song-playing">
  <div class="player-plist">
    <div class="hide-html5">
      <audio autoplay="autoplay" preload="" controls="controls" id="audio" >
        <source type="audio/mpeg" src="http://nhachoa.keeng.vn/sata03/songv3/2016/11/28/GK9wqnqD1VeLiATMhGiI583b970793de1.mp3?s=WAP&ot=song&oid=2853626&rt=wp">
      </audio>
    </div>
    <div class="pdplay">
      <div id="progress">
        <div id="progress_box" >
          <div id="audioSlider" ></div>
          <div style="width: 0%; " id="load_progress">
            <div style="left: -7px;" id="hand_progress" class="hand-control" ></div>
            <div id="play_progress" style="width: 0px;"></div>
          </div>
        </div>
      </div>
      <div id="play_time"><div id="current_time_display">00:00</div></div>
      <div class="pdcontrol">
        <div id="prev"></div>
        <div class="pause control" id="play"></div>
        <div id="next"></div>
      </div>
    </div>
    <div class="play-song">
      <span id="song-playing">Hamlet Trương Radio 162</span>
    </div>
  </div>
</div>
