<div class="player-song-playing">
  <div class="player-plist">
    <div class="hide-html5">
      <audio autoplay="autoplay" preload="" autobuffer="" id="audio">
        <source type="audio/mpeg">
      </audio>
    </div>
    <div class="pdplay">
      <div id="progress">
        <div id="progress_box" (click)="changeBar($event)">
          <div id="audioSlider"></div>
          <div id="load_progress">
            <div id="play_progress"></div>
          </div>
        </div>
      </div>
      <div id="play_time">
        <div id="current_time_display">00:00</div>
      </div>
      <div class="pdcontrol">
        <div id="prev"></div>
        <div (click)="togglePlay()" [class.play]="playClass" class="pause control" id="play"></div>
        <div id="next" (click)="nextTrack()"></div>
      </div>
    </div>
    <div class="play-song" *ngIf="song">
      <span id="song-playing">{{song.name}}</span>
    </div>
  </div>
</div>
