<div id="body">
  <div class="player-song">
    <div class="player-song-content">
      <h3 class="song-content-h3">Những bài hát hay nhất của Noo Phước Thịnh</h3>
      <p class="song-content-p"><a>Noo Phước Thịnh</a> ft <a>nhiều ca sĩ</a></p>
      <span class="song-content-sp"><img src="assets/images/ver4_09.png" width="12"/> 123.456</span>
    </div>
    <div class="player-song-playing">
      <div class="player-plist">
        <div class="hide-html5">
          <audio autoplay="autoplay" preload="" autobuffer="" controls="controls" id="audio" src="http://nhachoa.keeng.vn/sata03/songv3/2016/11/28/GK9wqnqD1VeLiATMhGiI583b970793de1.mp3?s=WAP&ot=song&oid=2853626&rt=wp">
            <!--<source type="audio/mpeg" src="http://nhachoa.keeng.vn/sata03/songv3/2016/11/28/GK9wqnqD1VeLiATMhGiI583b970793de1.mp3?s=WAP&ot=song&oid=2853626&rt=wp"></source>-->
          </audio>
        </div>
        <div class="pdplay">
          <div id="progress">
            <div id="progress_box" >
              <div id="audioSlider" ></div>
              <div style="width: 0%; " id="load_progress">
                <div style="left: -7px;" id="hand_progress" class="hand-control" ></div>
                <div id="play_progress" style="width: 0px;"></div>
              </div>
            </div>
          </div>
          <div id="play_time"><div id="current_time_display">00:00</div></div>
          <div class="pdcontrol">
            <div id="prev"></div>
            <div class="pause control" id="play"></div>
            <div id="next"></div>
          </div>
        </div>
        <div class="play-song">
          <span id="song-playing">Hamlet Trương Radio 162</span>
        </div>
      </div>
    </div>

    <script src="js/html5-player.js" type="text/javascript"></script>
    <script src="js/albumHtml5.js" type="text/javascript"></script>

    <script type="text/javascript">
      var index = 0;
      var songs = new Array();
      var titles = new Array();
      titles[0] = "GoodBye My Love";
      songs[0] = "http://nhachoa.keeng.vn/sata10/songv3/2016/11/22/02TZTqaDwSMx03aZ5Qqa5833d3a60cfc6.mp3?s=WAP&amp;ot=song&amp;oid=2853277&amp;rt=wp";
      titles[1] = "GoodBye My Love (Beat)";
      songs[1] = "http://nhachoa.keeng.vn/sata10/songv3/2016/11/22/XtvaMC86yZzLEn375CQ75833b1e55e0f6.mp3?s=WAP&amp;ot=song&amp;oid=2853278&amp;rt=wp";
      titles[2] = "GoodBye My Love";
      songs[2] = "http://nhachoa.keeng.vn/sata10/songv3/2016/11/22/02TZTqaDwSMx03aZ5Qqa5833d3a60cfc6.mp3?s=WAP&amp;ot=song&amp;oid=2853277&amp;rt=wp";
      titles[3] = "GoodBye My Love (Beat)";
      songs[3] = "http://nhachoa.keeng.vn/sata10/songv3/2016/11/22/XtvaMC86yZzLEn375CQ75833b1e55e0f6.mp3?s=WAP&amp;ot=song&amp;oid=2853278&amp;rt=wp";
      titles[4] = "GoodBye My Love";
      songs[4] = "http://nhachoa.keeng.vn/sata10/songv3/2016/11/22/02TZTqaDwSMx03aZ5Qqa5833d3a60cfc6.mp3?s=WAP&amp;ot=song&amp;oid=2853277&amp;rt=wp";

    </script>

    <div class="player-song-tool">
      <div class="song-tool-item"><a><img src="assets/images/ver4_10.png" width="30" /></a></div>
      <div class="song-tool-item"><a><img src="assets/images/ver4_11.png" width="30" /></a></div>
      <div class="song-tool-item"><a><img src="assets/images/ver4_12.png" width="30" /></a></div>
      <div class="song-tool-item"><a><img src="assets/images/ver4_13.png" width="30" /></a></div>
      <div class="song-tool-item"><a><img src="assets/images/ver4_14.png" width="30" /></a></div>
      <div class="song-tool-item"><a><img src="assets/images/ver4_15.png" width="30" /></a></div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="keeng-song-lyric">
    <div class="song-lyric-content">
      1. Nhìn vào sâu đôi mắt<br />
      Em có biết trong anh muốn nói điều gì<br />
      Rằng từ lâu đôi ta đã thuộc về nhau.<br />
      Người làm anh gục ngã<br />
      Từ ánh mắt, đôi môi, cử chỉ, mỉm cười<br />
      Rằng từ đây anh muốn bên em suốt đời.<br />
    </div>
    <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12"></a> </p>
  </div>
  <div class="keeng-song keeng-bxh">
    <h2 class="keeng-h2-title"><a>BÀI HÁT BẢNG XẾP HẠNG</a></h2>
    <div class="keeng-song-wrap" id="show_audio_play">
      <div class="keeng-song-item"><strong>1</strong><a class="keeng-song-img" href="javascript:playAudio()" onclick="return changeSong('0')"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a href="javascript:playAudio()" onclick="return changeSong('0')">Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>2</strong><a class="keeng-song-img" href="javascript:playAudio()" onclick="return changeSong('1')"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a href="javascript:playAudio()" onclick="return changeSong('1')">Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>3</strong><a class="keeng-song-img" href="javascript:playAudio()" onclick="return changeSong('2')"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a href="javascript:playAudio()" onclick="return changeSong('2')">Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>4</strong><a class="keeng-song-img" href="javascript:playAudio()" onclick="return changeSong('3')"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a href="javascript:playAudio()" onclick="return changeSong('3')">Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>5</strong><a class="keeng-song-img" href="javascript:playAudio()" onclick="return changeSong('4')"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a href="javascript:playAudio()" onclick="return changeSong('4')">Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
    </div>
    <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
  </div>
  <div class="keeng-feel">
    <h2 class="keeng-h2-title"><a>CHIA SẺ CẢM XÚC</a></h2>
    <div class="keeng-feel-wrap">
      <div class="keeng-feel-item feel_01">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item feel_02">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item feel_03">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item feel_04">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
    </div>
    <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
  </div>
  <div class="app-keeng">
    <h3 class="app-keeng-h3">Trải nghiệm tốt hơn với ứng dụng Keeng</h3>
    <p class="app-keeng-p"><a><img src="assets/images/ver4_06.png" width="96" /></a><a><img src="assets/images/ver4_07.png" width="96" /></a><a><img src="assets/images/ver4_08.png" width="96" /></a></p>
  </div>
</div>
