<app-d-player [songs]="songs"></app-d-player>

<div class="keeng-album">
  <h2 class="keeng-h2-title"><a>ALBUM</a></h2>
  <app-album-list [albums]="albums"></app-album-list>
  <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
</div>

<div class="keeng-feel">
  <h2 class="keeng-h2-title"><a>CHIA SẺ CẢM XÚC</a></h2>
  <app-feeling [feelings]="feelings"></app-feeling>
  <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
</div>

