<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-sm-8">
      <carousel>
        <slide *ngFor="let flash of flashHots">
          <img style="width: 100%" class="img-responsive" src="{{imagePatch + flash.image_path}}" alt="{{flash.title}}">
          <div class="carousel-caption">
          </div>
        </slide>
      </carousel>
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="#">
              <img class="img-responsive" src="{{imagePatch + firstFeeling['main_thumb_path']}}" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <h5><strong>{{firstFeeling['title']}}</strong></h5>
          <p>{{firstFeeling['header']}}</p>
          <p *ngFor="let feeling of feelings| slice:1:4">
            <a href="">
              <h5>{{feeling.title| slice:0:44}}</h5>
            </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <li class="list-group-item active"><strong>Hot Music</strong></li>
        </div>
        <div class="row">
          <div class="col-lg-6" *ngFor="let playlish of playlistHots">
            <div class="col-lg-12">
              <div class="thumbnail">
                <img class="img-responsive" src="{{imagePatch + playlish['album'].image_album}}" alt="...">
                <div class="caption">
                  <h5><strong>{{playlish['album'].name}}</strong></h5>
                  <p>{{playlish['song'].singer_name}}</p>
                  <p>
                    <i class="glyphicon glyphicon-headphones"></i> {{playlish['album'].listen_no}}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="thumbnail">
                <img src="{{imagePatch + playlish['song'].image_path}}" alt="{{playlish['song'].name}}">
                <audio controls preload="none">
                  <source src="{{audioPatch + playlish['song'].path}}" type="audio/mpeg" >
                </audio>
                <div class="caption">
                  <h5><strong>{{playlish['song'].name}}</strong></h5>
                  <p>{{playlish['song'].singer_name}}</p>
                  <p>
                    <i class="glyphicon glyphicon-headphones"></i> {{playlish['song'].listen_no}}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="thumbnail">
                <img src="{{imagePatch + playlish['video'].image_path}}" alt="">
                <video width="320" height="240" class="image-response" controls preload="none">
                  <source src="{{videoPatch + playlish['video'].path}}" type="video/mp4">
                </video>
                <div class="caption">
                  <h5><strong>{{playlish['video'].name}}</strong></h5>
                  <p>{{playlish['song'].singer_name}}</p>
                  <p>
                    <i class="glyphicon glyphicon-headphones"></i> {{playlish['video'].listen_no}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="#">
              <img class="img-responsive" src="{{imagePatch + firstBlog['main_thumb_path']}}" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <h5><strong>{{firstBlog['title']}}</strong></h5>
          <p>{{firstBlog['header']}}</p>
          <p *ngFor="let blog of blogs| slice :1: 3">
            <a href="">
              {{blog.title| slice:0:44}} ...
            </a>
          </p>
        </div>
      </div>
    </div><!--/.col-xs-12.col-sm-9-->
    <div class="col-sm-4 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <li class="list-group-item active"><strong>Charts</strong></li>
        <li href="#" *ngFor="let chart of charts| slice:0:5" class="list-group-item">
          <div class="row">
            <div class="col-lg-4">
              <img class="img-responsive" style="width: 100%" src="{{imagePatch + chart.image_path}}" alt="">
            </div>
            <div class="col-lg-8 text-left">
              <p><strong>{{chart.name}}</strong></p>
              <p>{{chart.singer_name}}</p>
              <p><i class="glyphicon glyphicon-headphone"></i>{{chart.listen_no}}</p>
            </div>
          </div>
        </li>
      </div><!--/.sidebar-offcanvas-->
      <div class="list-group">
        <li class="list-group-item active"><strong>Topic</strong></li>
        <li href="#" *ngFor="let topic of topics| slice:0:5" class="list-group-item">
          <div class="row">
            <div class="col-lg-4">
              <img class="img-responsive" style="width: 100%" src="{{imagePatch + topic.icon_path}}" alt="">
            </div>
            <div class="col-lg-8 text-left">
              <strong>{{topic.name}}</strong>
            </div>
          </div>
        </li>
      </div><!--/.sidebar-offcanvas-->
      <div class="list-group">
        <a class="list-group-item active"><strong>Category</strong></a>
        <a href="#" *ngFor="let category of categories" class="list-group-item">{{category.name}}</a>
      </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->
    <footer>
      <p>&copy; 2016 Company, Inc.</p>
    </footer>
  </div>
</div>

