<div id="body">
  <div class="keeng-video keeng-top">
    <h2 class="keeng-h2-title"><a>VIDEO NỔI BẬT</a></h2>
    <div class="keeng-video-wrap">
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>

    </div>
    <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
  </div>
  <div class="keeng-feel">
    <h2 class="keeng-h2-title"><a>VIDEO MỚI</a></h2>
    <div class="keeng-feel-wrap">
      <div class="keeng-feel-item feel_01">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item feel_02">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item feel_03">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item feel_04">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
    </div>
    <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
  </div>
  <div class="app-keeng">
    <h3 class="app-keeng-h3">Trải nghiệm tốt hơn với ứng dụng Keeng</h3>
    <p class="app-keeng-p"><a><img src="assets/images/ver4_06.png" width="96" /></a><a><img src="assets/images/ver4_07.png" width="96" /></a><a><img src="assets/images/ver4_08.png" width="96" /></a></p>
  </div>
</div>
