<div id="body">
  <div class="top-singer">
    <a class="top-singer-img">
      <img src="http://vip.img.cdn.keeng.vn/sata11/singer/2016/04/22/aadba86309bd34bb1211e6484f2b2647a22dea45.jpg" />
    </a>
    <h3 class="top-singer-h3">
      <a>Ca sĩ của tuần: Trang pháp</a>
    </h3>
  </div>
  <div class="keeng-video keeng-radio">
    <div class="keeng-video-wrap">
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Trang pháp</a> </h3>

        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Trang pháp</a> </h3>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Trang pháp</a> </h3>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Trang pháp</a> </h3>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Trang pháp</a> </h3>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Trang pháp</a> </h3>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/29/Zmk8b9Xecb4UMnvdvusS583d016e2954c_103_103.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Trang pháp</a> </h3>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/29/Zmk8b9Xecb4UMnvdvusS583d016e2954c_103_103.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Trang pháp </a> </h3>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/29/Zmk8b9Xecb4UMnvdvusS583d016e2954c_103_103.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Trang pháp </a> </h3>
        </div>
      </div>

    </div>
    <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
  </div>
  <div class="app-keeng">
    <h3 class="app-keeng-h3">Trải nghiệm tốt hơn với ứng dụng Keeng</h3>
    <p class="app-keeng-p"><a><img src="assets/images/ver4_06.png" width="96" /></a><a><img src="assets/images/ver4_07.png" width="96" /></a><a><img src="assets/images/ver4_08.png" width="96" /></a></p>
  </div>
</div>
