<div id="slider_owl_keeng">
  <carousel>
    <slide *ngFor="let flash of flashHots">
      <a href="{{flash.link}}">
        <img class="img-responsive" style="width: 100%" src="{{IMAGE_DOMAIN + flash.images}}" alt="{{flash.title}}">
      </a>
    </slide>
  </carousel>
</div>
<div class="keeng-album">
  <h2 class="keeng-h2-title"><a>ALBUM HOT</a></h2>
  <app-album-list [albums]="albums"></app-album-list>
  <p class="keeng-more-p"><a routerLink="/album.html"><img src="assets/images/ver4_05.png" width="12"/></a></p>
</div>
<!--<div class="keeng-propose">-->
  <!--<h2 class="keeng-h2-title"><a>Nhạc HOT</a></h2>-->
  <!--<app-media-hot [itemHots]="itemHots"></app-media-hot>-->
<!--</div>-->
<div class="keeng-song">
  <h2 class="keeng-h2-title"><a>BÀI HÁT HOT</a></h2>
  <app-audio-list [songs]="songs"></app-audio-list>
  <p class="keeng-more-p"><a routerLink="/song"><img src="assets/images/ver4_05.png" width="12"/></a></p>
</div>
<div class="keeng-video">
  <h2 class="keeng-h2-title"><a>VIDEO HOT</a></h2>
  <app-video-list [videos]="videos"></app-video-list>
  <p class="keeng-more-p"><a routerLink="/list-video"><img src="assets/images/ver4_05.png" width="12"/></a></p>
</div>
<!--<div class="keeng-topic">-->
  <!--<h2 class="keeng-h2-title"><a>DANH SÁCH CHỦ ĐỀ</a></h2>-->
  <!--<app-topic-list [topics]="topics"></app-topic-list>-->
  <!--<p class="keeng-more-p"><a routerLink="/topic"><img src="assets/images/ver4_05.png" width="12"/></a></p>-->
<!--</div>-->
<!--<div class="keeng-video keeng-phim">-->
  <!--<h2 class="keeng-h2-title"><a>PHIM HOT</a></h2>-->
  <!--<app-film-list [films]="films"></app-film-list>-->
  <!--<p class="keeng-more-p"><a routerLink="/topic"><img src="assets/images/ver4_05.png" width="12"/></a></p>-->
<!--</div>-->
<!--<div class="keeng-cate-hot">-->
  <!--<h2 class="keeng-h2-title"><a>CHUYÊN MỤC HOT</a></h2>-->
  <!--<div class="cate-hot-wrap" id="cate_hot_swiper">-->
    <!--<div class="swiper-wrapper">-->
      <!--<a class="cate-hot-item swiper-slide">-->
        <!--<img src="assets/images/bg_cate.jpg"/>-->
        <!--<span>HÀNH ĐỘNG</span>-->
      <!--</a>-->
      <!--<a class="cate-hot-item swiper-slide">-->
        <!--<img src="assets/images/bg_cate.jpg"/>-->
        <!--<span>TÌNH CẢM</span>-->
      <!--</a>-->
      <!--<a class="cate-hot-item swiper-slide">-->
        <!--<img src="assets/images/bg_cate.jpg"/>-->
        <!--<span>VÕ THUẬT</span>-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
