<div id="body">
  <div class="keeng-song keeng-bxh keeng-top" >
    <h2 class="keeng-h2-title"><a>BẢNG XẾP HẠNG BÀI HÁT</a></h2>
    <div class="keeng-song-wrap bxh-wrap" id="show_audio_play">
      <div class="keeng-bxh-tab">
        <img class="bxh-tab-img" src="http://vip.img.cdn.keeng.vn/sata11/video/images/2016/11/25/NshphJYRJHHiM5vCMQY6583799592dd80.jpg" />
        <span class="bxh-tab-shadow"></span>
        <p class="bxh-tab-p"><a class="active">VIỆT NAM</a><a>CHÂU Á</a><a>ÂU - MỸ</a></p>
      </div>
      <div class="keeng-song-item"><strong>1</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>2</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>3</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>4</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>5</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>6</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>7</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>8</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>

    </div>
    <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
  </div>
  <div class="keeng-song keeng-bxh keeng-bxh-video">
    <h2 class="keeng-h2-title"><a>BẢNG XẾP HẠNG VIDEO</a></h2>
    <div class="keeng-song-wrap bxh-wrap" id="show_audio_play">
      <div class="keeng-bxh-tab">
        <img class="bxh-tab-img" src="http://vip.img.cdn.keeng.vn/sata11/video/images/2016/11/25/NshphJYRJHHiM5vCMQY6583799592dd80.jpg" />
        <span class="bxh-tab-shadow"></span>
        <p class="bxh-tab-p"><a class="active">VIỆT NAM</a><a>CHÂU Á</a><a>ÂU - MỸ</a></p>
      </div>
      <div class="keeng-song-item"><strong>1</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>2</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>3</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>4</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>5</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>6</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>7</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"><strong>8</strong><a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>

    </div>
    <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
  </div>

  <div class="keeng-feel">
    <h2 class="keeng-h2-title"><a>CHIA SẺ CẢM XÚC</a></h2>
    <div class="keeng-feel-wrap">
      <div class="keeng-feel-item feel_01">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item feel_02">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item feel_03">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item feel_04">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
      <div class="keeng-feel-item">
        <a class="keeng-feel-number">
          23
        </a>
        <div class="keeng-feel-info">
          <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
          <p class="feel-info-content">Bài này nghe mãi không chán</p>
          <span class="feel-info-time">9 phút trước</span>
        </div>
      </div>
    </div>
    <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
  </div>
  <div class="app-keeng">
    <h3 class="app-keeng-h3">Trải nghiệm tốt hơn với ứng dụng Keeng</h3>
    <p class="app-keeng-p"><a><img src="assets/images/ver4_06.png" width="96" /></a><a><img src="assets/images/ver4_07.png" width="96" /></a><a><img src="assets/images/ver4_08.png" width="96" /></a></p>
  </div>
</div>
