<div id="wrapper">
  <div id="header">
    <div class="header-content"> <a class="keeng-mn"><img width="22" src="images/ver4_01.png" /></a> <a class="keeng-logo"><img width="90" src="images/logo_wap.png" /></a> <a class="keeng-notify-icon"> <img src="images/ver4_03.png" width="17" /> </a>
      <div class="keeng-search-form">
        <p class="form-search">
          <input placeholder="Nhập từ khóa tìm kiếm..." class="search-keeng-txt " type="text">
          <!-- <input type="submit" value="" class="search-keeng-btn btnSearch btn-search search-btn"> -->
          <button class="search-keeng-btn"> <img src="images/ver4_02.png" width="20" > </button>
        </p>
        <a class="keeng-icon-search"> <img width="20" src="images/ver4_02.png"> </a> </div>
      <div class="clear"></div>
    </div>
    <div class="header-menu">
      <ul class="header-menu-ul">
        <li  class="header-menu-li active"><a  class="header-menu-lnk">HOME</a></li>
        <li  class="header-menu-li"><a  class="header-menu-lnk">NHẠC</a></li>
        <li  class="header-menu-li"><a  class="header-menu-lnk">PHIM</a></li>
        <li  class="header-menu-li"><a  class="header-menu-lnk">LIVE TV</a></li>
        <div class="clear"></div>
      </ul>
    </div>
  </div>
  <div id="body">

    <div class="keeng-video keeng-radio keeng-top">
      <h2 class="keeng-h2-title"><a>DANH SÁCH THỂ LOẠI</a></h2>
      <div class="keeng-video-wrap">
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>

          </div>
        </div>
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
          </div>
        </div>
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
          </div>
        </div>
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
          </div>
        </div>
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
          </div>
        </div>
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
          </div>
        </div>
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/29/Zmk8b9Xecb4UMnvdvusS583d016e2954c_103_103.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
          </div>
        </div>
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/29/Zmk8b9Xecb4UMnvdvusS583d016e2954c_103_103.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
          </div>
        </div>
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/29/Zmk8b9Xecb4UMnvdvusS583d016e2954c_103_103.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
          </div>
        </div>

      </div>
      <p class="keeng-more-p"> <a><img src="images/ver4_05.png" width="12" /></a> </p>
    </div>
    <div class="app-keeng">
      <h3 class="app-keeng-h3">Trải nghiệm tốt hơn với ứng dụng Keeng</h3>
      <p class="app-keeng-p"><a><img src="images/ver4_06.png" width="96" /></a><a><img src="images/ver4_07.png" width="96" /></a><a><img src="images/ver4_08.png" width="96" /></a></p>
    </div>
  </div>
  <div id="footer">
    <div class="footer-cate">
      <h3 class="footer-cate-h3"><a>NHẠC</a></h3>
      <ul class="footer-cate-ul">
        <li class="footer-cate-li"><a>Bài hát</a></li>
        <li class="footer-cate-li"><a>Album</a></li>
        <li class="footer-cate-li"><a>Video</a></li>
        <li class="footer-cate-li"><a>Bảng xếp hạng</a></li>
      </ul>
    </div>
    <div class="footer-cate">
      <h3 class="footer-cate-h3"><a>PHIM</a></h3>
      <ul class="footer-cate-ul">
        <li class="footer-cate-li"><a>Hành động</a></li>
        <li class="footer-cate-li"><a>Kinh dị</a></li>
        <li class="footer-cate-li"><a>Hài ước</a></li>
        <li class="footer-cate-li"><a>Viễn Tưởng</a></li>
      </ul>
    </div>
  </div>
</div>
