<div class="keeng-video keeng-radio keeng-top">
  <h2 class="keeng-h2-title"><a>DANH SÁCH THỂ LOẠI</a></h2>
  <div class="keeng-video-wrap">
    <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
      <div class="keeng-video-info">
        <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>

      </div>
    </div>
    <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
      <div class="keeng-video-info">
        <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
      </div>
    </div>
    <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
      <div class="keeng-video-info">
        <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
      </div>
    </div>
    <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
      <div class="keeng-video-info">
        <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
      </div>
    </div>
    <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
      <div class="keeng-video-info">
        <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
      </div>
    </div>
    <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/23/s51VxCrVUSwbMUbJsSqb58353fe23ffea_103_103.jpg" /> </a>
      <div class="keeng-video-info">
        <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
      </div>
    </div>
    <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/29/Zmk8b9Xecb4UMnvdvusS583d016e2954c_103_103.jpg" /> </a>
      <div class="keeng-video-info">
        <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
      </div>
    </div>
    <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/29/Zmk8b9Xecb4UMnvdvusS583d016e2954c_103_103.jpg" /> </a>
      <div class="keeng-video-info">
        <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
      </div>
    </div>
    <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/29/Zmk8b9Xecb4UMnvdvusS583d016e2954c_103_103.jpg" /> </a>
      <div class="keeng-video-info">
        <h3 class="video-info-h3"> <a>Rap Việt </a> </h3>
      </div>
    </div>
  </div>
  <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
</div>
