<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Untitled Document</title>
  <script src="js/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="js/owl.carousel.min.js" type="text/javascript"></script>
  <script src="js/swiper.min.js" type="text/javascript"></script>
  <script src="js/common.js" type="text/javascript"></script>
  <link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css" />
  <link href="css/swiper.min.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
  <div class="keeng-menu-wrap" style="display:none;">
    <p class="keeng-menu-user">
      <a class="menu-user-lnk">
        <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/30/D5ktenIvmUB45KD9lBbJ583e847d47d42_103_103.jpg" /> Xin chào 01687969609
      </a>
    </p>
    <div class="keeng-menu-nhac">
      <h3 class="menu-nhac-h3">
        <a>NHẠC</a>
      </h3>
      <div class="menu-nhac-wrap">
        <a class="keeng-menu-tag"><img src="images/ver4_17.png" height="20" /> Bài hát</a>
        <a class="keeng-menu-tag"><img src="images/ver4_18.png" height="20" /> Video</a>
        <a class="keeng-menu-tag"><img src="images/ver4_19.png" height="20" /> Album</a>
        <a class="keeng-menu-tag"><img src="images/ver4_20.png" height="20" /> BXH</a>
        <a class="keeng-menu-tag"><img src="images/ver4_21.png" height="20" /> Radio</a>
        <a class="keeng-menu-tag"><img src="images/ver4_22.png" height="20" /> Thể loại</a>
        <a class="keeng-menu-tag"><img src="images/ver4_23.png" height="20" /> Nghệ sĩ</a>
        <a class="keeng-menu-tag"><img src="images/ver4_24.png" height="20" /> Chủ đề</a>
        <a class="keeng-menu-tag"><img src="images/ver4_25.png" height="20" /> Keeng TV</a>
      </div>
    </div>
    <div class="keeng-menu-nhac">
      <h3 class="menu-nhac-h3">
        <a>PHIM</a>
      </h3>
      <div class="menu-nhac-wrap">
        <a class="keeng-menu-tag"><img src="images/ver4_26.png" height="20" /> Phim mới</a>
        <a class="keeng-menu-tag"><img src="images/ver4_27.png" height="20" /> Phim xem nhiều</a>
        <a class="keeng-menu-tag"><img src="images/ver4_22.png" height="20" /> Thể loại</a>
      </div>
    </div>
    <div class="keeng-menu-nhac menu-border">
      <div class="menu-nhac-wrap">
        <a class="keeng-menu-tag"><img src="images/ver4_28.png" height="20" /> Đăng ký vip</a>
        <a class="keeng-menu-tag"><img src="images/ver4_29.png" height="20" /> Đăng xuất</a>
      </div>
      <p class="mn-info-keeng">
        Mạng xã hội âm nhạc Keeng.vn<br />
        Thông tin Keeng - Quy định sử dụng <br />
        Báo lỗi - Chăm sóc khách hàng: 198 (Miễn phí) <br />
        <span style="color:#7aaf14">Liên hệ quảng cáo: 0969.16.17.18 </span><br />
        <span style="color:#7aaf14">Email:hoptac@viettel.com.vn</span><br />
      </p>
    </div>
  </div>
  <div id="header">
    <div class="header-content"> <a class="keeng-mn"><img width="22" src="images/ver4_01.png" /></a> <a class="keeng-logo"><img width="90" src="images/logo_wap.png" /></a> <a class="keeng-notify-icon"> <img src="images/ver4_03.png" width="17" /> </a>
      <div class="keeng-search-form">
        <p class="form-search">
          <input placeholder="Nhập từ khóa tìm kiếm..." class="search-keeng-txt " type="text">
          <!-- <input type="submit" value="" class="search-keeng-btn btnSearch btn-search search-btn"> -->
          <button class="search-keeng-btn"> <img src="images/ver4_02.png" width="20" > </button>
        </p>
        <a class="keeng-icon-search"> <img width="20" src="images/ver4_02.png"> </a> </div>
      <div class="clear"></div>
    </div>
    <div class="header-menu">
      <ul class="header-menu-ul">
        <li  class="header-menu-li"><a  class="header-menu-lnk">HOME</a></li>
        <li  class="header-menu-li"><a  class="header-menu-lnk">NHẠC</a></li>
        <li  class="header-menu-li"><a  class="header-menu-lnk">PHIM</a></li>
        <li  class="header-menu-li"><a  class="header-menu-lnk">LIVE TV</a></li>
        <div class="clear"></div>
      </ul>
    </div>
  </div>
  <div id="body">
    <div class="top-singer">
      <a class="top-singer-img">
        <img src="http://vip.img.cdn.keeng.vn/sata11/singer/2016/04/22/aadba86309bd34bb1211e6484f2b2647a22dea45.jpg" />
      </a>
      <h3 class="top-singer-h3">
        <a>Noo Phước Thịnh</a>
      </h3>
    </div>
    <div class="keeng-song">
      <h2 class="keeng-h2-title"><a>BÀI HÁT</a></h2>
      <div class="keeng-song-wrap">
        <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
          <div class="keeng-song-info">
            <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" />  </a>
          <div class="keeng-song-info">
            <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" />  </a>
          <div class="keeng-song-info">
            <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
          <div class="keeng-song-info">
            <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
          <div class="keeng-song-info">
            <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
          <div class="keeng-song-info">
            <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
          <div class="keeng-song-info">
            <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
      </div>
      <p class="keeng-more-p"> <a><img src="images/ver4_05.png" width="12" /></a> </p>
    </div>

    <div class="keeng-video">
      <h2 class="keeng-h2-title"><a>VIDEO</a></h2>
      <div class="keeng-video-wrap">
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
          <div class="keeng-video-info">
            <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>

      </div>
      <p class="keeng-more-p"> <a><img src="images/ver4_05.png" width="12" /></a> </p>
    </div>
    <div class="keeng-album">
      <h2 class="keeng-h2-title"><a>ALBUM</a></h2>
      <div class="keeng-album-wrap">
        <div class="keeng-album-item"> <a class="keeng-album-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/17/hcVwplM8HDZlRwrtEFYM582d0bf5a4113_103_103.jpg" /> <span class="album-shadow"></span> </a>
          <div class="keeng-album-info">
            <h3 class="album-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="album-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-album-item"> <a class="keeng-album-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> <span class="album-shadow"></span> </a>
          <div class="keeng-album-info">
            <h3 class="album-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="album-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-album-item"> <a class="keeng-album-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/17/hcVwplM8HDZlRwrtEFYM582d0bf5a4113_103_103.jpg" /> <span class="album-shadow"></span> </a>
          <div class="keeng-album-info">
            <h3 class="album-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="album-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-album-item"> <a class="keeng-album-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> <span class="album-shadow"></span> </a>
          <div class="keeng-album-info">
            <h3 class="album-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="album-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-album-item"> <a class="keeng-album-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/17/hcVwplM8HDZlRwrtEFYM582d0bf5a4113_103_103.jpg" /> <span class="album-shadow"></span> </a>
          <div class="keeng-album-info">
            <h3 class="album-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="album-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
        <div class="keeng-album-item"> <a class="keeng-album-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> <span class="album-shadow"></span> </a>
          <div class="keeng-album-info">
            <h3 class="album-info-h3"> <a>Anh Em và Ai</a> </h3>
            <p class="album-info-singer"><a>Trịnh Thăng Bình</a></p>
          </div>
        </div>
      </div>
      <p class="keeng-more-p"> <a><img src="images/ver4_05.png" width="12" /></a> </p>
    </div>
    <div class="app-keeng">
      <h3 class="app-keeng-h3">Trải nghiệm tốt hơn với ứng dụng Keeng</h3>
      <p class="app-keeng-p"><a><img src="images/ver4_06.png" width="96" /></a><a><img src="images/ver4_07.png" width="96" /></a><a><img src="images/ver4_08.png" width="96" /></a></p>
    </div>
  </div>
  <div id="footer">
    <div class="footer-cate">
      <h3 class="footer-cate-h3"><a>NHẠC</a></h3>
      <ul class="footer-cate-ul">
        <li class="footer-cate-li"><a>Bài hát</a></li>
        <li class="footer-cate-li"><a>Album</a></li>
        <li class="footer-cate-li"><a>Video</a></li>
        <li class="footer-cate-li"><a>Bảng xếp hạng</a></li>
      </ul>
    </div>
    <div class="footer-cate">
      <h3 class="footer-cate-h3"><a>PHIM</a></h3>
      <ul class="footer-cate-ul">
        <li class="footer-cate-li"><a>Hành động</a></li>
        <li class="footer-cate-li"><a>Kinh dị</a></li>
        <li class="footer-cate-li"><a>Hài ước</a></li>
        <li class="footer-cate-li"><a>Viễn Tưởng</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
