<div class="top-singer">
  <a class="top-singer-img">
    <img src="{{singer.image}}" />
  </a>
  <h3 class="top-singer-h3">
    <a>{{singer.singer_name}}</a>
  </h3>
</div>
<div class="keeng-song">
  <h2 class="keeng-h2-title"><a>BÀI HÁT</a></h2>
  <app-audio-list [songs]="songs"></app-audio-list>
  <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
</div>
<div class="keeng-video">
  <h2 class="keeng-h2-title"><a>VIDEO</a></h2>
  <app-video-list [videos]="videos"></app-video-list>
  <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
</div>
<div class="keeng-album">
  <h2 class="keeng-h2-title"><a>ALBUM</a></h2>
  <app-album-list [albums]="albums"></app-album-list>
  <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
</div>

