<app-video-player [video] = "video"></app-video-player>
<div class="keeng-video">
  <h2 class="keeng-h2-title"><a>VIDEO LIÊN QUAN</a></h2>
  <app-video-list [videos]="videos"></app-video-list>
  <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
</div>
<div class="keeng-feel">
  <h2 class="keeng-h2-title"><a>CHIA SẺ CẢM XÚC</a></h2>
  <app-feeling [feelings]="feelings"></app-feeling>
  <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
</div>


