<div id="wrapper">
  <div id="header">
    <div class="header-content"> <a class="keeng-mn"><img width="22" src="images/ver4_01.png" /></a> <a class="keeng-logo"><img width="90" src="images/logo_wap.png" /></a> <a class="keeng-notify-icon"> <img src="images/ver4_03.png" width="17" /> </a>
      <div class="keeng-search-form">
        <p class="form-search">
          <input placeholder="Nhập từ khóa tìm kiếm..." class="search-keeng-txt " type="text">
          <!-- <input type="submit" value="" class="search-keeng-btn btnSearch btn-search search-btn"> -->
          <button class="search-keeng-btn"> <img src="images/ver4_02.png" width="20" > </button>
        </p>
        <a class="keeng-icon-search"> <img width="20" src="images/ver4_02.png"> </a> </div>
      <div class="clear"></div>
    </div>
    <div class="header-menu">
      <ul class="header-menu-ul">
        <li  class="header-menu-li active"><a  class="header-menu-lnk">HOME</a></li>
        <li  class="header-menu-li"><a  class="header-menu-lnk">NHẠC</a></li>
        <li  class="header-menu-li"><a  class="header-menu-lnk">PHIM</a></li>
        <li  class="header-menu-li"><a  class="header-menu-lnk">LIVE TV</a></li>
        <div class="clear"></div>
      </ul>
    </div>
  </div>
  <div id="body">
    <div class="player-video-keeng">
      <div class="player-video-playing">
        <video id="content_video_html5_api" class="vjs-tech" name="media" poster="http://vip.img.cdn.keeng.vn/sata11/video/images/2016/11/25/NshphJYRJHHiM5vCMQY6583799592dd80.jpg" src="http://keengmp3obj.1d2173fe.viettel-cdn.vn/bucket-media-keeng/sas_02/video/2016/11/25/HuTWpXSOcsTExIB5IQoM58379959ce7e1_mp4_640_360.mp4">
        </video>
      </div>
      <div class="player-video-info">
        <h3 class="video-info-h3">
          Gương mặt lạ lẫm
        </h3>
        <p class="video-info-p"><a>Mr siro</a> <span class="video-info-view">312.234</span></p>
      </div>
      <div class="player-song-tool">
        <div class="song-tool-item"><a><img src="images/ver4_10_b.png" width="30" /></a></div>
        <div class="song-tool-item"><a><img src="images/ver4_11_b.png" width="30" /></a></div>
        <div class="song-tool-item"><a><img src="images/ver4_12_b.png" width="30" /></a></div>
        <div class="song-tool-item"><a><img src="images/ver4_13_b.png" width="30" /></a></div>
        <div class="song-tool-item"><a><img src="images/ver4_14_b.png" width="30" /></a></div>
        <div class="song-tool-item"><a><img src="images/ver4_15.png" width="30" /></a></div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="keeng-feel">
      <h2 class="keeng-h2-title"><a>CHIA SẺ CẢM XÚC</a></h2>
      <div class="keeng-feel-wrap">
        <div class="keeng-feel-item feel_01">
          <a class="keeng-feel-number">
            23
          </a>
          <div class="keeng-feel-info">
            <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
            <p class="feel-info-content">Bài này nghe mãi không chán</p>
            <span class="feel-info-time">9 phút trước</span>
          </div>
        </div>
        <div class="keeng-feel-item feel_02">
          <a class="keeng-feel-number">
            23
          </a>
          <div class="keeng-feel-info">
            <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
            <p class="feel-info-content">Bài này nghe mãi không chán</p>
            <span class="feel-info-time">9 phút trước</span>
          </div>
        </div>
        <div class="keeng-feel-item feel_03">
          <a class="keeng-feel-number">
            23
          </a>
          <div class="keeng-feel-info">
            <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
            <p class="feel-info-content">Bài này nghe mãi không chán</p>
            <span class="feel-info-time">9 phút trước</span>
          </div>
        </div>
        <div class="keeng-feel-item feel_04">
          <a class="keeng-feel-number">
            23
          </a>
          <div class="keeng-feel-info">
            <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
            <p class="feel-info-content">Bài này nghe mãi không chán</p>
            <span class="feel-info-time">9 phút trước</span>
          </div>
        </div>
        <div class="keeng-feel-item">
          <a class="keeng-feel-number">
            23
          </a>
          <div class="keeng-feel-info">
            <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
            <p class="feel-info-content">Bài này nghe mãi không chán</p>
            <span class="feel-info-time">9 phút trước</span>
          </div>
        </div>
        <div class="keeng-feel-item">
          <a class="keeng-feel-number">
            23
          </a>
          <div class="keeng-feel-info">
            <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
            <p class="feel-info-content">Bài này nghe mãi không chán</p>
            <span class="feel-info-time">9 phút trước</span>
          </div>
        </div>
        <div class="keeng-feel-item">
          <a class="keeng-feel-number">
            23
          </a>
          <div class="keeng-feel-info">
            <h3 class="feel-info-h3"> <a>0989***989</a> </h3>
            <p class="feel-info-content">Bài này nghe mãi không chán</p>
            <span class="feel-info-time">9 phút trước</span>
          </div>
        </div>
      </div>
      <p class="keeng-more-p"> <a><img src="images/ver4_05.png" width="12" /></a> </p>
    </div>
    <div class="app-keeng">
      <h3 class="app-keeng-h3">Trải nghiệm tốt hơn với ứng dụng Keeng</h3>
      <p class="app-keeng-p"><a><img src="images/ver4_06.png" width="96" /></a><a><img src="images/ver4_07.png" width="96" /></a><a><img src="images/ver4_08.png" width="96" /></a></p>
    </div>
  </div>
  <div id="footer">
    <div class="footer-cate">
      <h3 class="footer-cate-h3"><a>NHẠC</a></h3>
      <ul class="footer-cate-ul">
        <li class="footer-cate-li"><a>Bài hát</a></li>
        <li class="footer-cate-li"><a>Album</a></li>
        <li class="footer-cate-li"><a>Video</a></li>
        <li class="footer-cate-li"><a>Bảng xếp hạng</a></li>
      </ul>
    </div>
    <div class="footer-cate">
      <h3 class="footer-cate-h3"><a>PHIM</a></h3>
      <ul class="footer-cate-ul">
        <li class="footer-cate-li"><a>Hành động</a></li>
        <li class="footer-cate-li"><a>Kinh dị</a></li>
        <li class="footer-cate-li"><a>Hài ước</a></li>
        <li class="footer-cate-li"><a>Viễn Tưởng</a></li>
      </ul>
    </div>
  </div>
</div>
