<div id="body">

  <div class="keeng-song keeng-top">
    <h2 class="keeng-h2-title"><a>BÀI HÁT</a></h2>
    <div class="keeng-song-wrap">
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /></a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" />  </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" />  </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-song-item"> <a class="keeng-song-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> </a>
        <div class="keeng-song-info">
          <h3 class="song-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="song-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
    </div>
    <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
  </div>

  <div class="keeng-video">
    <h2 class="keeng-h2-title"><a>VIDEO</a></h2>
    <div class="keeng-video-wrap">
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-video-item"> <a class="keeng-video-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/tintuc/2016/11/21/72c3c47d63aa8c157b50a8246d683ad8a5a00b18.jpg" /> </a>
        <div class="keeng-video-info">
          <h3 class="video-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="video-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>

    </div>
    <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
  </div>
  <div class="keeng-album">
    <h2 class="keeng-h2-title"><a>ALBUM</a></h2>
    <div class="keeng-album-wrap">
      <div class="keeng-album-item"> <a class="keeng-album-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/17/hcVwplM8HDZlRwrtEFYM582d0bf5a4113_103_103.jpg" /> <span class="album-shadow"></span> </a>
        <div class="keeng-album-info">
          <h3 class="album-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="album-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-album-item"> <a class="keeng-album-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> <span class="album-shadow"></span> </a>
        <div class="keeng-album-info">
          <h3 class="album-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="album-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-album-item"> <a class="keeng-album-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/17/hcVwplM8HDZlRwrtEFYM582d0bf5a4113_103_103.jpg" /> <span class="album-shadow"></span> </a>
        <div class="keeng-album-info">
          <h3 class="album-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="album-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-album-item"> <a class="keeng-album-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> <span class="album-shadow"></span> </a>
        <div class="keeng-album-info">
          <h3 class="album-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="album-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-album-item"> <a class="keeng-album-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/images_thumb/f_sata11/album/image/2016/11/17/hcVwplM8HDZlRwrtEFYM582d0bf5a4113_103_103.jpg" /> <span class="album-shadow"></span> </a>
        <div class="keeng-album-info">
          <h3 class="album-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="album-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
      <div class="keeng-album-item"> <a class="keeng-album-img"> <img src="http://vip.img.cdn.keeng.vn/sata11/images/2016/10/28/5df02b4803d4194f01de43eb9a4a3453e1f9df32.jpg" /> <span class="album-shadow"></span> </a>
        <div class="keeng-album-info">
          <h3 class="album-info-h3"> <a>Anh Em và Ai</a> </h3>
          <p class="album-info-singer"><a>Trịnh Thăng Bình</a></p>
        </div>
      </div>
    </div>
    <p class="keeng-more-p"> <a><img src="assets/images/ver4_05.png" width="12" /></a> </p>
  </div>
  <div class="app-keeng">
    <h3 class="app-keeng-h3">Trải nghiệm tốt hơn với ứng dụng Keeng</h3>
    <p class="app-keeng-p"><a><img src="assets/images/ver4_06.png" width="96" /></a><a><img src="assets/images/ver4_07.png" width="96" /></a><a><img src="assets/images/ver4_08.png" width="96" /></a></p>
  </div>
</div>
